<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueS2</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    
    <div id="AppVue">
        <h1>Frases de batman en Ingles</h1>
        <p> {{newQuote}} </p>

        <input
          type="text"
          v-model="newQuote"
          v-on:keypress="addQuote">
        <hr>

        <ul>
            <li v-for="({quote, author} , i) in quotes"> 
                <span>{{i + 1}} {{ quote }}</span>
                <blockquote>- {{ author }}</blockquote>
            </li>
        </ul>
    </div>
    <script src="app.js"></script>
</body>
</html>